body{
    box-sizing: border-box;
}
#cards{
    position: absolute;
    top:1400px;
    width:100%;
    padding: 10px;
    border: 2px solid red;
}

.row1{
    width:100%;
}

.card{
    width: 100%;
    margin: 0 auto;

}
