body{
    box-sizing: border-box;
}
#cards{
    position: absolute;
    top:1200px;
    width:100%;
    height:1000px;
    padding: 10px;
    border: 2px solid red;
}

#row1{
    margin: 10px;
    width:100%;
    height:300px;
}

#col1{
    width:40%;
    margin: 5px;
    float: right;
}

#col2{
    float:left;
    width:40%;
    margin: 5px;
}

#card{
    width: 90%;
}
